{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h1 class="my-4">{% translate "Labels" %}</h1>
<a href="{% url 'label_create' %}">{% translate "Create label" %}</a>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Date of creation" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for label in object_list %}
    <tbody>
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
                <a href="{% url 'label_update' pk=label.id %}">{% translate "Update" %}</a>
                <br>
                <a href="{% url 'label_delete' pk=label.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}