{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}


{% block content %}

<h1 class="my-4">{{ title }}</h1>
<div class="card-body bg-light">
    <form class="form-inline center" method="get">
        {% bootstrap_form filter.form size='small' %}
  {% buttons %}<button type="submit" class="btn btn-primary">{% translate "Show" %}</button>{% endbuttons %}
</form>
</div>


<a href="{% url 'task_create' %}">{% translate "Create task" %}</a>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Status" %}</th>
            <th>{% translate "Author" %}</th>
            <th>{% translate "Executor" %}</th>
            <th>{% translate "Date of creation" %}</th>
            <th></th>
        </tr>
    </thead>
        {% for task in object_list %}
    <tbody>
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_detail' pk=task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.creator }}</td>
            {% if task.executor == None %}
            <td> </td>
            {% endif %}
            {% if task.executor != None %}
            <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
            {% endif %}
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'task_update' pk=task.id %}">{% translate "Update" %}</a>
                <br>
                <a href="{% url 'task_delete' pk=task.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}