{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h1 class="my-4">{% translate "Users" %}</h1>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "User name" %}</th>
            <th>{% translate "Full name" %}</th>
            <th>{% translate "Date of creation" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for user in object_list %}
    <tbody>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ created_at }}</td>
            <td>
                <a href="{% url 'user_update' pk=user.id %}">{% translate "Update" %}</a>
                <br>
                <a href="{% url 'user_delete' pk=user.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}